@import url('https://fonts.googleapis.com/css2?family=Offside&family=Orienta&display=swap');
* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    font-family: Orienta, sans-serif;
    font-weight: 300;
    color:#010000;
    text-align: justify;
}

h1, h2 {
    font-family: Offside, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

p {
    padding: 5px 2%;
    line-height: 1.6;
}

header {
    background-color: #253780;
    top: 0;
    position: sticky;
    height: 82px;
    z-index: 1;
}

#logo {
    float: left;
    text-decoration: none;
    position: relative;
    margin: 20px;
    margin-left: 5%;
    color:#fff;
 }

nav {
    float: right;
    margin: 20px;
    margin-right: 5%;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    color:#fff;
}

nav a:hover {
    border-radius: 5px;
    border: #fff solid 1px;
}

.active {
    border-radius: 5px;
    border: #fff solid 1px;
    background-color: #f36c21;
}

/* Hero image */
#hero-image {
    background: url(../images/soccer-g1bd653242_1920.jpg) no-repeat center;
    background-color: #010000;
    width: 100%;
    height: 750px;
    overflow: hidden;
}

#dimmer {
    position: absolute;
    background-color: #fff;
    opacity: 0.2;
    height: inherit;
    width: 100%;
    overflow: hidden;
}

#welcome-message {
    background-color: #f36c21;
    position: absolute;
    /* height: 33%; */
    width: 33%;
    color: #e1e1e1;
    font-size: 150%;
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    padding: 1.3%;
    border-radius: 5px;
}

/* general information section */

.general-information {
    margin: 20px 15%;
}

.inline-links {
    text-decoration: none;
    color: blue;
    
}

/* events section */

#events {
    width: auto;
    height: 160px;
    /* opacity: 0.7; */
    margin-bottom: 40px;
}

#events > div {
    font-size: larger;
    float:left;
    margin: 20px 5%;
    background-color: #f36c21;
    height: auto;
    width: 36%;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    color:#fff;
}

.day-time {
    font-weight: bold;
    letter-spacing: 3px;
}

/* Venue page */

#venue-text {
    margin: 20px 20% 0px;
}

#venue-header {
    text-align: center;
}

#venue-pictures {
    column-count: 2;
    margin: 20px 5%;
    overflow: hidden;
}

.venue-photo {
    width: 100%;
    height: auto;
    float: left;
}

/* Contact page */


/* footer */

footer {
    position: relative;
    clear: both;
    background-color: #253780;
    padding: 15px;
    margin-top: 20px;

}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 0 10%;
    color:#fff;

}

@media screen and (max-width: 950px) {
    header {
        height: 162px;
    }
    
    nav {
        clear: left;
        float: left;
        margin-left: 5%;
    }
    
    #welcome-message {
        width: 75%;
    }
    
    /* #dimmer {
        opacity: 0.7;
    } */
    
    .general-information {
        margin: 20px 5%;
    }
    
    #venue-text {
        margin: 20px 5% 0px;
    }
    
    #venue-pictures {
        column-count: 1;
    }
    
    .venue-photo {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    header {
        text-align: left;
        height: 220px;
        font-weight: 200;
        font-size: smaller;
    }
    #logo {
        margin: 10px;
        margin-left: 5%;
    }
    nav {
        margin: 5px;
        margin-left: 5%;
    }
    nav a {
        clear: left;
        float: left;
    }
    
    #hero-image {
        height: 500px;
    }

    /* #dimmer {
        background-color: #a7372b;
        opacity: 0.8;
    } */

    #events > div {
        margin: 20px 2%;
        width: 42%;
    }
}
