@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Orienta&display=swap');

* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #010000;
    text-align: justify;
}

h1,
h2 {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

p {
    padding: 5px 2%;
    line-height: 1.6;
}

header {
    background-color: #00529F;
    top: 0;
    position: sticky;
    height: 82px;
    z-index: 1;
}

#logo {
    float: left;
    text-decoration: none;
    position: relative;
    margin: 20px;
    margin-left: 5%;
    color: #fff;
}

nav {
    float: right;
    margin: 20px;
    margin-right: 5%;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
}

nav a:hover {
    border-radius: 5px;
    border: #fff solid 1px;
}

.active {
    border-radius: 5px;
    border: #fff solid 1px;
    background-color: #FEBE10;
}

/* Hero image */
#hero-image {
    background: url(../images/soccer-g1bd653242_1920.jpg) no-repeat center;
    background-color: #010000;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#dimmer {
    position: absolute;
    /* background-color: #fff; */
    background-color: rgb(48, 47, 47);
    opacity: 0.6;
    height: inherit;
    width: 100%;
    overflow: hidden;
}

#welcome-message {
    /* background-color: #f36c21; */
    position: absolute;
    /* height: 33%; */
    width: 33%;
    color: #fff;
    font-size: 150%;
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    padding: 1.3%;
    border-radius: 5px;
}

#join-us {
    background-color: #EE324E;
    color: #fff;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    padding: 1.3%;
    border-radius: 5px;
    position: fixed;
    bottom: 55%;
    right: 6%;
    opacity: 0.9;
}

/* general information section */

.general-information {
    margin: 20px 15%;
}

#motivational-message {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    padding: 5px;
    margin: 40px 0px 30px 0px;
}

#steps-title {
    text-align: center;
    /* font-weight: bold; */
    font-size: 200%;
    padding: 5px;
    margin: 20px 0px 10px 0px;
}

.general-information div {
    padding: 1%;
    margin: 1%;
    width: 46%;
    height: 150px;
}

.lefty {
    float: left;
}

.righty {
    float: right;
}

.general-information i {
    height: 70px;
    float: left;
    width: 20%;
    font-size: 65px;
    text-align: center;
    color: green;
}

.step {
    display: inline-block;
    width: 75%;
    font-size: 21px;
    padding: 0px 0px 1% 5%;
}

.step-description {
    width: 75%;
    padding-left: 5%;
    margin-left: 20%;
    text-align: justify;
}

#bottom {
    width: 96%;
    float: left;
}

#bottom h5 {
    width: 98%;
    text-align: center;
    font-size: 21px;
    padding-bottom: 1%;
}

#bottom p {
    width: 98%;
    text-align: justify;
}

/* events section */

#events {
    width: auto;
    height: 160px;
    /* opacity: 0.7; */
    margin-bottom: 40px;
    margin: 20px 15%;
}

#events>div {
    font-size: larger;
    float: left;
    margin: 20px 5%;
    background-color: #EE324E;
    height: auto;
    width: 36%;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    color: #fff;
}

.day-time {
    font-weight: bold;
    letter-spacing: 3px;
}

/* Venue page */

#venue-text {
    margin: 20px 20% 0px;
}

#venue-header {
    text-align: left;
    margin: 60px 20px;
    font-size: 200%;
    border-bottom: #EE324E solid 2px;
}

#join-us-venue {
    background-color: #EE324E;
    color: #fff;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    position: fixed;
    padding: 1.3%;
    border-radius: 5px;
    bottom: 70px;
    right: 6%;
    opacity: 0.9;

}

#venue-pictures {
    column-count: 3;
    margin: 80px 5%;
    overflow: hidden;
}

.venue-photo {
    width: 100%;
    height: auto;
    float: left;
    margin: 10px 0;
}

/* Contact page */

#form-description {
    background-color: #fff;
    position: absolute;
    width: 28.7%;
    padding: 5% 5% 5% 16.3%;
    text-align: justify;
}

#form-description>h2 {
    margin-bottom: 60px;
    font-size: 180%;
    border-bottom: #EE324E solid 2px;
    padding-bottom: 10px;
}

#form-description>p {
    font-size: 20px;
    margin-bottom: 20px;
}

#form-container {
    background-color: #e1e1e1;
    width: 28.7%;
    padding: 5% 20% 5% 1.3%;
    float: right;
    font-size: 2em;
}


#form-container label {
    font-size: 20px;
}

.form-element {
    font-size: 20px;
    border: #010000 solid 1px;
    padding: 15px;
    border-radius: 5px;
}

.text-input {
    width: 100%;
    margin: 0px 0px 20px;
    line-height: 20px;

}

#event-choice {
    font-family: inherit;
    margin-bottom: 20px;
}

#suggestions {
    width: 100%;
    margin: 15px 0px 20px;
    line-height: 20px;
    height: 200px;
    margin-top: 15px;
}

#submit {
    background-color: #EE324E;
    margin-top: 15px;
    color: #fff;
    font-family: inherit;
}

#submit:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: #FEBE10;
}

/* footer */

footer {
    position: relative;
    clear: both;
    background-color: #00529F;
    padding: 15px;
    margin-top: 20px;

}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 0 10%;
    color: #fff;

}

@media screen and (max-width: 1100px) {

    .general-information{
        margin: 20px 5%;
    }
}

@media screen and (max-width: 950px) {
    header {
        height: 162px;
    }

    h1,
    h2 {
        /* font-family: Quicksand, sans-serif;
        font-weight: 400; */
        letter-spacing: 1px;
    }

    nav {
        clear: left;
        float: left;
        margin-left: 5%;
    }

    #welcome-message {
        width: 75%;
        opacity: 0.9;
    }

    #dimmer {
        opacity: 0.6;
    }

    #join-us {
        background-color: #FEBE10;
        color: #fff;
        font-size: 150%;
        text-align: center;
        text-decoration: none;
        position: fixed;
        padding: 1.3%;
        border-radius: 5px;
        bottom: 70px;
        right: 6%;
        opacity: 0.9;
    }

    #gi-section {
        height: 900px;
    }

    .general-information div {
        clear: left;
        float: left;
        width: 98%;
        height: 100px;
        font-size: smaller;
    }

    #bottom {
        height: 180px;
    }

    #events {
        height: 330px;
        margin: 20px 5%;
    }


    /* Venue page */

    #venue-text {
        margin: 20px 5% 0px;
    }

    #venue-pictures {
        column-count: 2;
    }

    .venue-photo {
        margin-bottom: 10px;
    }

    /* Contact page */

    #form-description {
        position: static;
        width: 90%;
        padding: 20px 5% 20px 5%;
    }

    #form-description>h2 {
        margin: 20px 0px 20px 0px;
        padding-bottom: 10px;
    }

    #form-container {
        clear: left;
        float: left;
        width: 86%;
        padding: 20px 9% 20px 5%;
    }

}

@media screen and (max-width: 500px) {

    header {
        text-align: left;
        height: 151px;
        font-weight: 200;
        font-size: smaller;
    }

    #logo {
        margin: 5px;
        margin-left: 5%;
        letter-spacing: 2px;
    }

    nav {
        margin-left: 5%;
    }

    nav a {
        /* clear: left;
        float: left; */
        font-size: smaller;
        letter-spacing: 1px;
    }

    #hero-image {
        height: 550px;
    }

    #gi-section {
        height: 1100px;
    }

    .general-information>h2 {
        text-align: left;
    }

    .general-information i {
        height: 50px;
        font-size: 40px;
    }

    .general-information div {
        clear: left;
        float: left;
        width: 98%;
        height: 130px;
        font-size: smaller;
    }

    #bottom {
        height: 240px;
    }

    #events {
        height: 480px;
        margin: 20px 5%;
    }

    #events>div {
        margin: 20px 2%;
        width: 92%;
        float: left;
        clear: left;
    }

    /* Venue page */

    #venue-pictures {
        column-count: 1;
    }

    /* Contact page */
    #form-container {
        clear: left;
        float: left;
        width: 80%;
        padding: 20px 15% 20px 5%;
    }
}